* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: rgb(37, 37, 37);
}

/* ===font==== */

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}


/* icon */

.icon{
    font-size: 35px;
}

/* Position */
.center {
    margin: 0 auto;
}

.ml-2 {
    margin-left: 20px;
}

.mr-2 {
    margin-right: 20px;
}

.padding-title{
    padding: 14px 50px;
    font-size: 18px;
    text-align: center;
    color: white;
}

.padding-price{
    padding: 8px 50px;
    text-align: center;
    color: rgb(96, 96, 96);
    font-size: 12px;
    border: 1px solid rgb(169, 169, 169);
}

.padding-dolla{
    padding: 14px 50px;
    font-size: 18px;
    text-align: center;
    border: 1px solid rgb(169, 169, 169);
    color: rgb(96, 96, 96);
}

.padding-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    border: none;
    justify-content: space-around;
    margin-top: 20px;   
    cursor: pointer;
    margin: 0 auto;
    background-color: black;
    color: white;
}